<aside class="about">
    <h3 class="aside-title">站内搜索</h3>
    <div class="aside-content">
         <input type="text" name="bing_q" id="bing_q" >
         <input onclick="google_go()" type="button" value="Google 搜索" class="btn btn-small">
    </div>
    <script>
       function google_go() {
            return location.href
                ="http://www.google.com/search?q="
                    +encodeURIComponent("site:www.cnblogs.com/"
                    +currentBlogApp+"/ "
                    +document.getElementById("google_q").value),!1
}
    </script>
</aside>
<aside class="about">
    <h3 class="aside-title">关于</h3>
    <div class="aside-content">
        <p>{{ site.description }}</p>
    </div>
</aside>
<aside class="subscribe">
    <h3 class="aside-title">订阅</h3>
    <div class="aside-content">
        <p>订阅&nbsp;<a href="{{ "/feed.xml " | prepend: site.baseurl }}">RSS</a></p>
    </div>
</aside>
